<%- include ("../partials/default-main") %>
<%- include ("../partials/nav") %>

<div class="container">
	<div class="row justify-content-center">
			<div class="col-12 col-md-9">
				<!-- campground_id is not working -->
				<form class="new-edit-forms dark-brown needs-validation" novalidate action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
					<!-- Note that the action="__" should equal the name of the post request url. -->
					
					<h1 class="text-center title-font">Edit <%= campground.name %> Comment</h1>

					<div class="form-group">
						<input class="form-control" type="text" name="comment[text]" value="<%=comment.text%>" required autofocus></input>
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							If you don't want anything in your comment, just delete it
						</div>
					</div>
				
					<div class="form-group mt-2">
						<button class="btn btn-lg light-brown text-white btn-block w-100">Update!</button>
					</div>
				
					<a href="/campgrounds" class="mr-4 btn btn-sm light-brown text-white mt-4"><i class="fa fa-angle-left add" aria-hidden="true"></i> Back</a>
				
				</form>

			</div>
	</div>

</div>

<%- include ("../partials/footer") %>