<%- include ("../partials/default-main") %>
<%- include ("../partials/nav") %>

<div class="container">
	<div class="row pt-5 justify-content-around">
		<div class="col-6 park-sign-svg default-park-sign-size p-5">
			<h1 class="logo">Welcome to <span class="logo-md">YelpCamp</span>!</h1>
			<p class="title-font ps-4" style="line-height: 1; margin-top: 2.4rem;">Upload your favorite campgrounds, rate the ones you've visited, and engage the community with comments.</p>
		</div>
		<div class="col-6 park-sign-svg default-park-sign-size d-flex flex-column justify-content-evenly px-5 pb-2">
			<form action="/campgrounds" method="GET" class="form-inline">
				<div class="form-group">
					<input type="text" name="search" placeholder="Search" class="form-control py-2 fs-4 title-font">
				</div>
			</form>
			<a href="/campgrounds/new" class="btn light-brown title-font fs-4 text-white ms-3 rounded-pill"><i class="fa fa-plus-circle add" aria-hidden="true"></i> Campground </a>
		</div>
	</div>

	<div class="row text-center" id="campground-listings">
		<div col-md-12>
			<% if(noMatch !== null) { %>
			<h2><%= noMatch %></h2>
			<% } %>
		</div>
		<% campgrounds.forEach(function(campground){ %>
			<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
				<div class="card rounded dark-brown">
					<a href="/campgrounds/<%= campground._id %>">
						<div class="photo-link rounded-top">
							<img src="<%= campground.image %>" class="img-fluid" alt="<%= campground.name %>" />
						</div>
					</a>
					<div class="card-body p-1">
						<h2 class="title-font"><%= campground.name %></h2>
						<% if (campground.rating === 0) { %>
							
						<% } else { %>
							<span class="fa fa-star bg-warning rounded-pill p-1 checked"></span>
							<span class="fa fa-star bg-warning rounded-pill p-1 <% if (campground.rating > 1.5) { %> checked <% } else { %> transparent <% } %>"></span>
							<span class="fa fa-star bg-warning rounded-pill p-1 <% if (campground.rating > 2.5) { %> checked <% } else { %> transparent <% } %>"></span>
							<span class="fa fa-star bg-warning rounded-pill p-1 <% if (campground.rating > 3.5) { %> checked <% } else { %> transparent <% } %>"></span>
							<span class="fa fa-star bg-warning rounded-pill p-1 <% if (campground.rating > 4.5) { %> checked <% } else { %> transparent <% } %>"></span>
						<% } %>
						<p class="mt-1"><%= campground.reviews.length %> reviews</p>
					</div>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<%- include ("../partials/footer") %>