<%- include ("../partials/header") %>

<div class="container">
	<div class="row d-flex justify-content-center bg-light text-center mb-4">
		<div class="col-lg-12 p-3">
			<h1><%=user.username%></h1>
			<img src="<%=user.avatar%>" alt="User's profile image">
		</div>
	</div>
</div>
<div class="container">
	<div class="row d-flex justify-content-center bg-dark text-center mb-4">
		<div class="col-lg-12 p-3">
			<h5 class="text-white"><%=user.username%>'s campgrounds:</h5>
			<ul class="list-unstyled">
				<% campgrounds.forEach(function(campground) { %>
					<li><a href="/campgrounds/<%=campground.id%>"><%=campground.name%></a></li>
				<% }); %>
			</ul>
		</div>
	</div>
</div>

<%- include ("../partials/footer") %>