<%- include ("../partials/header") %>
<div class="container">
	<div class="row" id="campground-container">
		<div class="col-md-3">
			<!-- Google Map -->
			<div id="map"></div>
		</div>
		<div class="col-md-9">
			<div class="card p-3 mb-4">
				<img src="<%= campground.image %> " class="img-fluid">
				<div>
					<h4 class="text-right">$<%= campground.price %>/night</h4>
					<h4><a><%= campground.name %></a></h4>
					<p><%= campground.description %></p>
					<p><em>Submitted by </em><a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></p>
					<% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
						<div class="d-inline-flex">
							<a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-outline-warning mr-2">Edit</a>
							<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
								<button class="btn btn-outline-danger delete-button">Delete</button>
							</form>
						</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
		<div class="row">
			<div class="col-md-12 d-flex justify-content-end">
				<div class="card w-75 bg-light p-3">
					<div class="text-right">
						<a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success">Add a Comment</a>
					</div>
					<hr>
				<% campground.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12 mb-2">
							<div class="card">
								<div class="card-body">
									<p class="float-right"><%= moment(campground.createdAt).fromNow() %></p>
									<p class="card-title"><strong><%= comment.author.username %></strong></p>
									<p class="card-text"><%= comment.text %></p>
									<% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
									<div class="float-right d-inline-flex">
										<a href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit" class="btn btn-xs btn-outline-warning mr-2">Edit</a>
										<form action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
											<button class="btn btn-xs btn-outline-danger delete-button">Delete</button>
										</form>
									</div>
								<% } %>
								</div>
							</div>
						</div>
					</div>
				<% }) %>
				</div>
			</div>
		</div>
</div>

<!-- Google Maps API Script -->
<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY4KrSmNNdCc5jY1Kl77hXJYFzEwITSe0&callback=initMap"></script>

<%- include ("../partials/footer") %>